.Header {
  font-family: $fancy-font;
  color: white;
  display: grid;
  grid-template-areas: ". home games";
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1rem;
  z-index: 10;

  .link {
    color: white;
    text-decoration: none;
    
    &:visited {
      color: white;
    }

    &:hover {
      color: $card-border;
      text-decoration: underline;
    }
  }

  h1, h2, h3 {
    margin: 0;
    text-align: center;
  }

  .games {
    font-size: 1rem;
    grid-area: games;
  }

  .home {
    font-size: 1.2rem;
    grid-area: home;
  }
}